@{
    ViewData["Title"] = "Hakkımızda";
}
<div class="card">
    <div class="card-body">
        <h2>Hakkımızda</h2>
        <p>İkinci el araç alım-satım platformu örneği. Proje tasarım aşaması.</p>
    </div>
</div>