@{
    ViewData["Title"] = "İletişim";
}
<div class="card">
    <div class="card-body">
        <h2>İletişim</h2>
        <form>
            <div class="mb-3">
                <label class="form-label">Ad</label>
                <input class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Mesaj</label>
                <textarea class="form-control" rows="4"></textarea>
            </div>
            <button class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>