@{
    ViewData["Title"] = "Ayarlar";
}
<div class="card">
    <div class="card-body">
        <h3>Ayarlar</h3>
        <form>
            <div class="mb-3">
                <label class="form-label">E-posta</label>
                <input class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Şifre (yeni)</label>
                <input type="password" class="form-control" />
            </div>
            <button class="btn btn-primary">Güncelle</button>
        </form>
    </div>
</div>